<div class="layui-content">
    <div class="layui-row">
        <table id="userTableform" lay-filter="userTable"></table>
    </div>
</div>

<script>

    // $(function(){
    //     $("#userSearch").click(function () {
    //         var userName = $("#userName").val();
    //         var userEmail = $("#userEmail").val();
    //         table.reload('userTable',{
    //             where:{
    //                 name:userName,
    //                 email:userEmail
    //             },
    //             page:1
    //         }); //表格重载
    //     });
    //
    //     //展示已知数据
    //     table.render({
    //         elem: '#userTable'
    //         ,url: 'user/getUserList' //数据接口
    //         ,cols: [[ //标题栏
    //             {type:'checkbox'}
    //             ,{field: 'id', title: 'id', width: 80, sort: true}
    //             ,{field: 'loginName', title: '用户名', width: 150}
    //             ,{field: 'name', title: '姓名', width: 150}
    //             ,{field: 'orgname', title: '所属机构', width: 100}
    //             ,{field: 'email', title: '邮箱', minWidth: 80}
    //             ,{field: 'phone', title: '电话', minWidth: 80}
    //             ,{field: 'region', title: '地域', width: 100,templet: '#regionTemplate'}
    //             ,{field: 'regionText', title: '地域3', width: 100}
    //             ,{field: 'qqnumber', title: 'QQ号码', width: 150}
    //             ,{field: 'createDate', title: '创建时间', width: 150}
    //             ,{fixed: 'right', title:'操作', toolbar: '#userTableBar', width:200}
    //         ]]
    //         ,response: {
    //             //statusName: 'status' //规定数据状态的字段名称，默认：code
    //             //,statusCode: 200 //规定成功的状态码，默认：0
    //             countName: 'total' //规定数据总数的字段名称，默认：count
    //             ,dataName: 'list' //规定数据列表的字段名称，默认：data
    //         }
    //         ,skin: 'line' //表格风格
    //         ,page: true //是否显示分页
    //         ,limits: [10, 20, 50]
    //         ,limit: 10 //每页默认显示的数量
    //     });
    //})

</script>